---
import Layout from '../layouts/Layout.astro';
---

<Layout title='martha sketches • about'>
  <main class='text-center'>
    <p class='text-lg'>
      Hi, my name is <b><i>Martha</i></b>.
    </p>
    <p class='text-lg pb-20'>I am an artist.</p>

    <p class='pb-2'>
      I specialize in <b>Anime</b>, <b>Cartoon</b> and <b>Realistic</b> drawings.
    </p>
    <p class='pb-2'>
      I begun this trip a few years ago by following interesting artwork from
      anime I watched and enjoyed and it turns out I really enjoy drawing. I
      wish to share my passion with everyone and that is why I live stream a lot
      of my drawings.
    </p>

    <p>
      If you like what I do and want to support me, you can do so by joining one
      of my many live streams or commissioning something of off me. Regardless I
      will be happy to help you in any way I can.
    </p>

    <p class='pt-20'>
      If you wish to contact me feel free to send a message on any of my Social
      Media accounts.
    </p>
    <div class='pt-3'>
      <a
        href='https://www.instagram.com/martha.sketches/'
        target='_blank'
        class='transition ease-in-out hover:text-gray-900 duration-300 text-xl'
        ><i class='fa-brands fa-instagram'></i>
      </a>

      <a
        href='https://www.tiktok.com/@martha.sketches'
        target='_blank'
        class='transition ease-in-out hover:text-gray-900 duration-300 text-xl ml-3'
        ><i class='fa-brands fa-tiktok'></i>
      </a>
    </div>
  </main>
</Layout>
