---
import Layout from '../layouts/Layout.astro';

const images = await Astro.glob('../assets/art/*.jpg');
---

<Layout title='martha sketches  • gallery'>
  <main class='columns-1 md:columns-3 lg:columns-4 2xl:columns-5 space-y-5'>
    {
      images.map((image) => (
        <div>
          <img class='ml-auto mr-auto h-full ' src={image.default} />
        </div>
      ))
    }
  </main>
</Layout>
