---
---

<footer class='text-xs pb-10'>
  <br />
  <hr class='bg-gray-400 h-0.5' />
  <br />
  <div class='flex flex-column sm:flex-row justify-between sm:pl-7 sm:pr-7'>
    <p>&copy; 2022 Thodoris Batsikas. All Rights Reserved.</p>
    <p class='text-right'>
      Developed by <a
        href='https://github.com/DevTotoro'
        class='text-purple-400 transition ease-in-out hover:text-purple-700 duration-300'
        >DevTotoro</a
      >
    </p>
  </div>
</footer>
