---
---

<header
  class='flex flex-col sm:flex-row justify-between items-center pt-10 sm:pt-20 pb-10 sm:pb-20'
>
  <h1 class='text-3xl'><a href='/'>martha sketches</a></h1>

  <nav class='flex flex-col sm:flex-row items-center'>
    <a
      href='/'
      class='transition ease-in-out hover:text-gray-900 duration-300 sm:mr-3'
      >gallery</a
    >
    <span class='hidden sm:inline'>|</span>
    <a
      href='/about'
      class='transition ease-in-out hover:text-gray-900 duration-300 sm:ml-3 sm:mr-3'
      >about</a
    >
    <span class='hidden sm:inline'>|</span>

    <div>
      <a
        href='https://www.instagram.com/martha.sketches/'
        target='_blank'
        class='transition ease-in-out hover:text-gray-900 duration-300 sm:ml-3'
        ><i class='fa-brands fa-instagram'></i>
      </a>

      <a
        href='https://www.tiktok.com/@martha.sketches'
        target='_blank'
        class='transition ease-in-out hover:text-gray-900 duration-300 ml-3'
        ><i class='fa-brands fa-tiktok'></i>
      </a>
    </div>
  </nav>
</header>
